@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Project developed by:</h2>
<p>Julio Emmanuel Sánchez De Jesús</p>
<p>Ronald Emilio Ogando Negron</p>
<p>Sergio Joel Ferreras Batista</p>
